.Main-Lightbox{
    background-color: rgba(0, 0, 0, 0.315);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9000;
    .Lightbox{
        background-color: var(--primary-backgroundColor);
        width: 600px;
        height: 500px;
        box-shadow: 1px 1px 20px rgb(167, 167, 167);
        border-radius: 24px;
        cursor: pointer;
        .Lightbox-Content{
            height: 100%;
            width: 100%;
            .Header{
                height: 20%;
                .Header-Content{
                    position: relative;
                    .Title{
                        span{
                            font-size: 100px;
                        }
                    }
                    .Close-Btn{
                        position: absolute;
                        top: 30%;
                        right: 0;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .Body{
                height: 80%;
            }
        }
    }
    
    .LightboxContent{
        .Content{
            svg{
                height: 40px;
                width: 40px;
            }
            span{
                font-size: 30px;
            }
        }
    }
}
