.ContactContainer{
    transition: all 0.4s linear;
    .contact{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.3s linear;
    
        .icon__container{
            height: 30px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:  white;
            border-radius: 9px 9px 0 0;
            svg{
                width: 25px;
                height: 25px;
                color: var(--secondary-color-LM) !important;
            }
        }
    
        .contact__details{
            height: 30px;
            width: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--secondary-color-LM);
            border-radius: 0 0 9px 9px;
            padding-left: 10px;
            h5{
                font-size: 12px;
                color: white !important;
            }
        }
    }
}

.ContactContainer:hover{
    transform: translateY(-0.3rem);
}



@media screen and (max-width: 768px) {
    .contact{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .contact__details{
            width: 300px;
            h5{
                font-size: 15px;
            }
        }

        .icon__container{
            width: 50px;
            svg{
                height: 30px;
                width: 30px;
            }
        }
    }
}
