button.check-now-btn{
    span, svg{
        color: white !important;
    }
}
.Portfolio{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    gap: 50px;
    .Slider{
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        svg{
            width: 40px;
            height: 40px;
        }
        .portfolio__content{
            display: flex;
            gap: 20px;
            width:500px;
            height: 200px;
            img{
                width: 200px;
                height: 200px;
            }
            img:selection{
                color:none;
                background-color: transparent;
            }
            .portfolio-details{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                button{
                    color: white !important;
                }
                a{
                    color: white !important;
                }
                .checknow-btn__slider{
                    svg{
                        color: white;
                    }
                }
                .checknow-btn__slider:hover{
                    a{
                        color: white;
                    }
                }
            }
        }
    }
}
.slider__circles{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    .circle{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: white;
        cursor: pointer;
        transition: all .3s linear;
    }
    .circle:hover{
        background-color: rgb(118, 118, 118);
    }
    .active-circle{
        width:40px;
        height: 15px;
        border-radius: 25px;
        background-color: #e50800;
    }
}
/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px){
    .Portfolio{
        width: 100%;
        gap: 0;

        .Slider{
            display: flex;
            align-items: center;
            justify-content: space-between;
            button{
                padding: 5px;
                height: fit-content;
                width: fit-content;
            }
            svg{
                height: 30px;
                width: 30px;
            }
        }
    }
    .info__container,
    .project__date{
        display: none;
    }
    .portfolio__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            height: 70px;
            width: 70px;
        }
    }
    .portfolio-details{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider__circles{
        gap: 10px;
        .circle{
            width: 8px;
            height: 8px;
        }
        .circle__active{
            width:20px;
            height: 10px;
        }
    }

}
/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px){
    .Slider{
        img{
            height: 150px;
            width: 150px;
        }
        button{
            font-size: 12px;
            svg{
                height: 20px;
                width: 20px;
            }
        }
    }
    .portfolio-details{
        h3{
            font-size: 15px;
        }
        p{
            font-size: 12px;
        }
    }
}